{% extends ('base.html.twig') %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/profile.css') }}"> {% endblock %} {% block body %}
<div class="container">
    <div class="profile-container">
        <div class="profile"><img src="{{'/uploads/' ~ user.image}}" alt="Symfony" /></div>
        <h1 class="head">{{user.username}}</h1>
        <div class="line"></div>
        <div class="profile-content">
            <div class="comment">
                <h6 class="num">{{ postCount }}</h6>
                <h6>posts</h6>
            </div>
            <!-- <div class="vote">
                <h6 class="num">201</h6>
                <h6>votes</h6>
            </div> -->
        </div>

        {% if user.isBanned == 1 %}
            <h4>User is banned</h4>
        {% endif %}

        

        {% if isProfile %}
        
            <div class="profile-button">Edit my profile</div>
        
        {% else %}

            {% if is_granted('ROLE_ADMIN') %}
                {% if user.isBanned == 1 %}
                    <a class="profile-button" href="{{ path('unban', {id: user.id}) }}">Unban User</a>
                {% endif %}

                {% if user.isBanned == 0 %}
                    <a class="profile-button ban-button" href="{{ path('ban', {id: user.id}) }}">Ban User</a>
                {% endif %}
            {% endif %}

        {% endif %}

    </div>

    <div class="profile-detail">

        <div class="summary">
            <div class="sum-head">Summary</div>
            <div class="line"></div>

            {% for post in posts %}
                <div class="question-sum">
                    <a href="{{path('post.show', {id: post.id}) }}">
                        <img src="{{'/uploads/' ~ user.image}}" alt="Symfony" />
                        <h2 class="question-head">{{ post.title }}</h2>
                    </a>
                </div>
            {% endfor %}

        
        </div>


    </div>
</div>
{% endblock %}