{% extends('base.html.twig') %} {% block body %}
<div class='container'>
    
    <h1>
        {{ catName }}
    </h1>

    

    <div id="list-container">
        <div class="question-container">
            {% for post in posts %}

            <div class="question-block">
                <div class="profile-image"></div>
                <div class="question">
                    <a class="title" href="{{path('post.show', {id: post.id}) }}">{{ post.title }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="text-danger" href="{{ path('post.delete', {id: post.id}) }}">
                        X
                    </a>
                    {% endif %}
                </div>
                
                <div class="category"><a href="{{ path('category_route', {cat: post.category.id}) }}">{{ post.category }}</a></div>

                <div class="votes-container">
                    <div class="votes">
                        <h3>views</h3>
                        <h3>answers</h3>
                    </div>
                    <div class="votes">
                        <h3>{{ post.viewCount }}</h3>
                        <h3>1</h3>
                    </div>
                </div>

                <div class="line"></div>
            </div>

            {% endfor %}
        </div>

        <div class="feature-container">
            <a href="{{ path('question_create_route') }}" class="button">Ask a Question</a>
            <a href="{{ path('category_route', {cat: 1}) }}">Soccer</a>
        </div>
    </div>
</div>
{% endblock %}